<h1>
<p>pirate information</p>
<%=@pirate.name%> :<%=@pirate.weight%> :<%=@pirate.height%> 

</h1>


<h2>
<p>ship one information</p>
<%=@ships.first.name%> :<%=@ships.first.type%> :<%=@ships.first.booty%> 

</h2>


<h2>
<p>ship two information</p>
<%=@ships.last.name%> :<%=@ships.last.type%> :<%=@ships.last.booty%>
</h2>
